#landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: var(--background-color);
}

#landing-img-container {
  width: 100%;
  height: 60%;
  overflow: hidden;
  background-image: url("../../img/chars-counter.png");
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

#landing-img-overlay {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px black;
}

#landing-info {
  width: 70%;
  margin: 0 auto;
}
