@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

#root {
  font-family: 'Open Sans', sans-serif;
  --nav-color: transparent;
  --background-color: #FFFFFF;
  --font-main: #1C1C1C;
  --font-nav: #F8F4E3;
  --font-nav-active: #E7E3D2;
  height: 100%;
  width: 100%;
  font-size: 1em;
}

#body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  scroll-behavior: smooth;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}